.main-content.row
  .victims-wrapper.col-md-6
    = render 'layouts/victims_latest'
    = render 'layouts/victims_yearly_chart'
    = render 'layouts/victims_list'
  .links-wrapper.col-md-6
    = render 'layouts/links_new'
    = render 'layouts/links_video'
    = render 'layouts/links_list'
