.main-content
  .victims-wrapper
    = render 'layouts/victims_latest'
    = render 'layouts/victims_list'
  .links-wrapper
    = render 'layouts/links_new'
    = render 'layouts/links_video'
    = render 'layouts/links_list'
  .forums
    = link_to 'Forum', forem_path
