.main-content
  .victims-wrapper
    = render 'layouts/victims_latest'
    /= render 'layouts/victims_list'
    = render 'layouts/victims_charts'
  .links-wrapper
    = render 'layouts/links_new'
    = render 'layouts/links_video'
    = render 'layouts/links_list'
