.new-victim-form
  = link_to root_path do
    %span.glyphicon.glyphicon-arrow-left

  %h2 New Victim
  = simple_form_for @victim, html: {class: 'form-horizontal'} do |f|
    = f.input :category, collection: %w(Hospitalized Deceased)
    = f.input :accident_date, as: :date, start_year: Date.today.year - 20, end_year: Date.today.year
    = f.input :name
    = f.input :age, collection: 8..95
    = f.input :country, as: :string
    = f.input :city
    = f.input :info, as: :text
    %span ( Sites connected to what happend )
    = f.input :link, as: :url
    = f.button :submit, 'Add victim', class: 'btn btn-primary'
