.new-link-form
  = link_to root_path do
    %span.glyphicon.glyphicon-arrow-left
  %h2 Add a link
  - if @link.errors.any?
    .error_explanation
      %h4
        = pluralize(@link.errors.count, "error")
        prohibited this link from being saved:
      %ul
        - @link.errors.full_messages.each do |message|
          %li
            = message
  = form_for @link, :url => links_path(@link) do |f|
    = f.label :category
    %select{ class: 'form-control' }
      = options_for_select([ ['Newspaper', 'newspaper'], ['Research', 'research'], ['Video', 'video']], 1)
    = f.label :topic
    = f.text_field :topic, {class: 'form-control'}
    = f.label :info
    = f.text_area :info, { :placeholder => 'short about info here...', class: 'form-control'}
    = f.label :url
    = f.url_field :url, {class: 'form-control'}
    = f.submit 'Add link', {class: 'btn btn-primary'}
