<div class="new-link-form">
  
  <%= link_to root_path do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
  <% end %>

  <h2>Add a link</h2>

  <% if @link.errors.any? %>
    <div class="error_explanation">
      <h4> <%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h4>
      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @link, :url => links_path(@link) do |f| %>
    <%= f.label :topic %>
    <%= f.text_field :topic, {class: 'form-control'}%>

    <%= f.label :info %>
    <%= f.text_area :info, { :placeholder => 'short about info here...', class: 'form-control'} %>

    <%= f.label :url %>
    <%= f.url_field :url, {class: 'form-control'} %>

    <%= f.submit 'Add link', {class: 'btn btn-primary'} %>
  <% end %>

</div>
