.new-link-form
  = link_to root_path do
    %span.glyphicon.glyphicon-arrow-left
  %h2 Add a link
  - if @link.errors.any?
    .error_explanation
      %h4
        = pluralize(@link.errors.count, "error")
        prohibited this link from being saved:
      %ul
        - @link.errors.full_messages.each do |message|
          %li
            = message

  = simple_form_for @link, html: {class: 'form-horizontal'} do |f|
    = f.input :category, collection: ['Newspaper', 'Research', 'Video', 'Other']
    = f.input :topic
    = f.input :info, as: :text, html: { placeholder: 'short about info here...'}
    = f.input :url, as: :url
    = f.button :submit, 'Add link', class: 'btn btn-primary'

// = form_for @link, :url => links_path(@link) do |f|
