<h2>Add a link</h2>
<% if @link.errors.any? %>
  <div class="error_explanation">
    <h2> <%= pluralize(@link.errors.count, "error") %> prohibited this victim from being saved:</h2>
  </div>
  <ul>
    <% @link.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_for @link, :url => links_path(@link) do |f| %>
  <%= f.label :topic %>
  <%= f.text_field :topic, class: 'form-control'%>

  <%= f.label :info %>
  <%= f.text_area :info, { :placeholder => 'short about info here...', class: 'form-control'} %>

  <%= f.label :url %>
  <%= f.text_field :url, {class: 'form-control'} %>

  <%= f.submit 'Add link', {class: 'btn btn-primary'} %>
<% end %>
<%= link_to 'back' ,url_for(:back) %>
