.form-styling
  = link_to root_path do
    %span.glyphicon.glyphicon-arrow-left
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form
      = f.label :email
      = f.email_field :email, class: 'form-control'
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
      = f.label :remember_me
      = f.submit 'Log in', class: 'btn btn-primary'
  = link_to "Register", new_user_registration_path
