%header
  .user-panel
    = link_to 'Help us update', root_path, class: 'help-us'
    - if user_signed_in?
      Welcome
      = current_user.first_name
      %br
      = link_to "Edit account", edit_user_registration_path
      |
      = link_to "Log out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Log in", new_user_session_path
      or
      = link_to "Register", new_user_registration_path

  .wrapper
    %h1 Spice Victims
    %p involved in
    %p
      %span
        = @deceased
      %span deaths
      &
      %span
        = @hospitalized
      %span hospitalizations
      %br
      so far..
  #notice= notice

  = render 'layouts/add_buttons' unless current_page? charts_path
