%header
  .user-panel
    - if user_signed_in?
      Welcome
      = current_user.first_name
      %br
      = link_to "Edit account", edit_user_registration_path
      |
      = link_to "Log out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Log in", new_user_session_path
      or
      = link_to "Register", new_user_registration_path

  .wrapper
    %h1 Spice Victims
    %p involved in
    %p
      %span
        = @deceased
      %span deaths
      &
      %span
        = @hospitalized
      %span hospitalizations
      %br
      so far..
  #notice= notice
  .help-us
    = link_to 'Help us update'

  .add-buttons
    = link_to '+ Victim', new_victim_path, { :class => "add-victim"}
    = link_to '+ Link', new_link_path, { :class => "add-link"}
