%header
  .user-panel
    - if user_signed_in?
      Welcome
      = current_user.email
      = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Sign in", new_user_session_path
      or
      = link_to "Sign up", new_user_registration_path

  .wrapper
    %h1 Spice Victims
    %p involved in
    %p
      %span
        = @count
      %span deaths
      &
      %span 13081
      %span hospitalizations
      %br
      so far..
  #notice= notice
  .help-us
    = link_to 'Help us update'

  .add-buttons
    = link_to '+ Victim', new_victim_path, { :class => "add-victim"}
    = link_to '+ Link', new_link_path, { :class => "add-link"}
