.links-new
  %h2 New
  - @links_new.each do |link|
    .link
      .vote-div
        %span.voting
          = link_to upvote_link_path(link), method: :put do
            %i.fa.fa-chevron-up
          %span.total= (link.cached_votes_up - link.cached_votes_down)
          = link_to downvote_link_path(link), method: :put do
            %i.fa.fa-chevron-down
      .link-body
        %a.topic{ href: link.url }= link.topic
        %p= link.info
      %span.category= link.category
