.victims-list
  %h2 Victims
  %table.panel.panel-default
    %thead.panel-heading
      %tr
        %th Name
        %th Age
        %th Country
        %th City
    %tbody.panel-body
      - @victims.take(20).each do |victim|
        %tr
          %td= link_to victim.name, victim
          %td= victim.age
          %td= victim.country
          %td= victim.city
          - if @admin
            %td= link_to 'Show', victim
            %td= link_to 'Edit', edit_victim_path(victim)
            %td= link_to 'Destroy', victim, method: :delete, data: { confirm: 'Are you sure?' }
      %tfoot.panel-footer
        %tr
          %td{ colspan: 4 }
            = link_to '<<'
            = link_to 'Show all'
            = link_to '>>'
