.victims-list
  %h2 Victims
  %input{type: "text", placeholder: "search..."}
  %table.panel.panel-default
    %thead.panel-heading
      %tr
        %th Name
        %th Age
        %th Country
        %th City
    %tbody.panel-body
      - @victims.each do |victim|
        %tr
          %td= link_to victim.name, victim
          %td= victim.age
          %td= victim.country
          %td= victim.city
      %tfoot.panel-footer
        %tr
          %td{ colspan: 4 }
  %p= will_paginate @victims
