<!DOCTYPE html>
<html>
<head>
  <title>SpiceDeaths</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <div id="add-buttons">
        <%= link_to 'Add new victim', new_victim_path, {:class => "victim"} %>
        <%= link_to 'Add new link', new_link_path, {:class => "link"} %>
    </div>
    <div id="notice"><%= notice %></div>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
